# Cobis API Key (required)
COBIS_API_KEY=swGwRN7X65XLuBqFFsthpwxMjhXjxL9CrUmvtW80
COBIS_NATURAL_PERSONS_URL=https://stg.api.customers.saf-pe.cobiscloud.com/generic/v2/customers/natural-persons/by-identification

# Fastify server
DARWIN_FASTIFY_HOST=0.0.0.0
DARWIN_FASTIFY_PORT=8085

# Logging
DARWIN_LOGGING_APP_ID=appcli
DARWIN_LOGGING_COMPANY_APP_ID=appcli
